body > footer {
    background-color: #1C2942;
    color: #5FC2BA;
    
    height: calc(0.7vh + 1vw);
    margin-top: calc(22vh + 50vw);
}

body > footer > p {
    margin-left: 2vw;
    font-size: calc(0.8vh + 0.8vw);
}
