#Visualisation {
    margin: 0%;
    background-image: url("../../res/Background/Soleil.jpeg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position-y: calc(15vh + 15vw);
    height: calc(30vh + 30vw);

}

#Visualisation > embed{
    margin-top: 7vh;
    margin-left: 23vw;
    margin-right: 0vw;
    margin-bottom: 0%;

    width: 60vw;
    height: 80vw;
}
