#aboutMe {
    background-color: #36494E;
    height: calc(50vh + 30vw); /* 660px 1024px */

    color : #7EA0B7;
    text-align: justify;
}

#aboutMe > *{
    margin : 1vh 10% 1vh 10%;
}

#aboutMe > h2 {
    font-size: calc(2vh + 2vw);
    margin-bottom: calc(1vh + 1vw);
}

#aboutMe > p {
    font-size: calc(1.2vh + 1.2vw);
    line-height: calc(2vh + 2vw);
}